# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment (venv)
venv/
env/

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store